<button mat-button color="primary" (click)="checkForm()">Submit</button>
<p>
  Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
  consectetur, adipisci velit..." "There is no one who loves pain itself, who
  seeks after it and wants to have it, simply because it is pain..." Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Nam ac eleifend sapien. Quisque
  nisi sapien, porttitor quis dapibus volutpat, lacinia et magna. Nunc pretium
  tempor erat, non elementum erat mollis vel. Suspendisse at mi non augue tempor
  lacinia vitae quis libero. Nam lacinia imperdiet tortor, sed ornare lectus
  consequat eget. Vivamus ex tellus, molestie ut neque et, eleifend tempus arcu.
  Praesent sollicitudin egestas pretium. Phasellus augue massa, laoreet et
  mauris eu, laoreet faucibus sem. Etiam ultricies ipsum arcu, vulputate feugiat
  diam gravida sed. Aliquam sapien tortor, vulputate et cursus quis, gravida vel
  lectus. Quisque finibus est congue consequat pretium. Cras iaculis nibh ac
  sagittis posuere. Curabitur volutpat dapibus accumsan. Ut facilisis porta mi,
  ut sodales velit dapibus ut. Etiam mattis mauris aliquet varius tempus.
  Curabitur eleifend venenatis varius. Donec arcu magna, lobortis eu laoreet id,
  posuere commodo risus. Vivamus mollis sapien eget mi vulputate vestibulum.
  Praesent dictum dolor ut orci cursus, sit amet tincidunt sem sagittis. Vivamus
  congue lacus justo, a suscipit tellus ullamcorper a. Quisque cursus sapien
  turpis, vitae suscipit elit porttitor non. Nunc leo ante, volutpat at
  tincidunt vitae, tristique vel ex. Nunc non ante tortor. Duis vestibulum
  feugiat dolor eu semper. Vivamus sodales, massa vel maximus cursus, neque mi
  tristique enim, ut lobortis dolor neque eget mauris. Aenean a nisi elementum
  nunc dignissim semper nec at elit. Aenean hendrerit, risus quis feugiat
  consequat, ex turpis elementum purus, nec laoreet mi eros nec risus.
  Vestibulum consectetur aliquet malesuada. Quisque vitae convallis orci, non
  ornare metus. Etiam blandit, magna eu feugiat laoreet, magna lorem faucibus
  elit, non maximus justo tortor sed justo. Aenean congue felis a rutrum
  volutpat. Pellentesque feugiat, mi eget dictum suscipit, lectus arcu faucibus
  quam, id condimentum mauris lectus sit amet lectus. Maecenas eu augue
  porttitor, consectetur nunc sed, tristique lorem. Nullam pellentesque orci vel
  suscipit venenatis. Quisque venenatis nibh a aliquam ornare. Aliquam rhoncus
  risus nec bibendum finibus. Vestibulum ante ipsum primis in faucibus orci
  luctus et ultrices posuere cubilia curae; Vestibulum tellus diam, sagittis
  eget placerat id, dignissim quis nulla. Nullam tempor leo a sem consectetur
  accumsan. Nulla facilisi. Vivamus sit amet vestibulum ipsum. Aenean facilisis
  leo sit amet commodo tristique. Morbi non elit aliquet, mattis libero nec,
  pellentesque eros. Suspendisse potenti. Etiam semper accumsan turpis, nec
  congue urna euismod sed. Aenean sed placerat mi, eu commodo eros. Praesent
  lectus ipsum, consectetur ac feugiat nec, laoreet vitae neque. Donec purus
  metus, ornare in massa at, rhoncus viverra sapien. Aliquam purus arcu, iaculis
  at velit at, sagittis congue tellus. Sed ac accumsan ligula. Morbi maximus
  augue lorem, vel pulvinar quam tincidunt sed. Ut lacinia sem ante, ac vehicula
  urna auctor at. Suspendisse ultrices nunc ut mauris tincidunt, id imperdiet
  odio sagittis. Morbi tempor neque at ante vestibulum, non accumsan ipsum
  tempus. Quisque laoreet risus eu ipsum accumsan, at egestas tortor volutpat.
  Aliquam dolor turpis, sollicitudin ac urna ac, fermentum ornare odio. Donec
  vehicula lacus ac lorem scelerisque ultrices. In et imperdiet libero, id
  convallis dui. Praesent nec purus vitae odio finibus semper. Curabitur
  placerat, mi at commodo fringilla, sem magna malesuada enim, ac ultrices velit
  lorem sit amet est. Quisque efficitur mi ut erat fermentum mollis. Mauris
  ullamcorper sit amet tortor eu pharetra. Suspendisse ut lacus tellus. Aliquam
  erat volutpat. Cras enim sem, mattis gravida consectetur at, maximus sed eros.
  Nunc pulvinar pharetra sem, sed ultrices augue iaculis quis. Nam gravida eros
  id lacus posuere, a tempor arcu mattis. Donec molestie nisi non tortor
  imperdiet eleifend. Cras mi lacus, dictum vel sagittis a, dignissim vitae sem.
  Cras ac orci blandit, volutpat urna at, semper velit. Curabitur quis placerat
  ex. Sed ut elit ut enim dapibus posuere. Nulla facilisi. Duis elementum congue
  arcu, quis condimentum arcu consectetur vitae. Nulla id leo ut lorem placerat
  eleifend. Phasellus varius ipsum pharetra convallis vulputate. Aliquam tempor
  ipsum sed felis scelerisque mattis. Donec sit amet nisi non augue suscipit
  maximus. Vestibulum at mi sodales, viverra quam vel, sodales mi. Sed
  vestibulum turpis eu massa tincidunt, et porta est feugiat. Cras venenatis
  posuere tincidunt. Mauris nec mi quis dolor vestibulum commodo ac non tellus.
  Vivamus bibendum lacinia malesuada. Nunc ut pulvinar risus. Sed ac viverra
  nulla. Etiam vel magna sed tellus tincidunt tempor ut non erat. Praesent ut
  risus suscipit, tincidunt quam sit amet, dignissim odio. Aliquam facilisis
  molestie diam ut ultrices. Donec tortor odio, placerat quis rutrum ut,
  vulputate sed neque. Nam egestas aliquet orci, at posuere arcu accumsan nec.
  Duis maximus aliquam sapien, sodales scelerisque mauris dapibus sit amet.
  Vivamus tempor ante id luctus mattis. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Integer sit amet vehicula
  risus. In sit amet pellentesque tellus. Curabitur ut purus vitae urna
  pellentesque commodo. Quisque sed condimentum dui, eu facilisis odio. Aliquam
  pharetra elit nec sapien vestibulum pulvinar. Duis sed arcu neque. Aliquam
  congue ac turpis a auctor. Aenean condimentum sollicitudin erat ut porttitor.
  Sed rutrum condimentum lacus. Quisque ullamcorper, arcu a sagittis bibendum,
  tellus odio tempor orci, ac convallis ante erat quis sem. Vivamus vestibulum
  sed nibh eu interdum. Vestibulum eget placerat massa. Donec consequat libero
  vel viverra consequat. Nam a pulvinar augue. Pellentesque volutpat orci neque,
  in laoreet elit accumsan at. Sed ligula risus, efficitur ac mattis nec,
  ullamcorper vitae nibh. Sed nulla felis, pharetra sed sapien sit amet, ornare
  luctus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia curae; Donec ultricies lacus non tincidunt posuere. Donec
  placerat hendrerit est at auctor. Aliquam ex sapien, facilisis quis mauris
  eget, tincidunt pellentesque lacus. Integer sagittis condimentum ligula in
  varius. Fusce lobortis mi libero, id laoreet orci fringilla finibus. Sed
  feugiat tortor risus, et congue velit varius bibendum. Nulla tellus leo,
  ultricies nec nisi sit amet, vehicula tempor nibh.
</p>
<form action="" [formGroup]="form">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
        <mat-panel-description> Type your name and age </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" formControlName="age" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
        <mat-panel-description> Type your name and age </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="surname" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" formControlName="date" />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</form>
